# Dependency directories
node_modules/
webview/node_modules/

# Production build output
webview/dist/

# Packed VS Code Extension file
*.vsix

# OS metadata files
.DS_Store
Thumbs.db

# Gradle and IntelliJ build intermediate files
.gradle/
build/
**/build/
**/.gradle/
intellij-plugin/.idea/

# Package outputs
/bin/
